{% extends "proj/base.html.twig" %}

{% block title %}Api{% endblock %}

{% block body %}
<h1>Api Json Routes for black jack game</h1>
{% for route in routes %}
{% if route.method == 'GET' %}
<a href="{{ path(route.name, route.params) }}" class="button">{{ route.path }}</a>
{% else %}
{# <a href="{{ path(route.name, route.params) }}" class="button">{{ route.path }}</a> #}
<form action="{{ path(route.name, route.params) }}" method="post">
        <button type="submit" class="button full-width-button">{{ route.path }}</button>
</form>
{% endif %}
<p>{{ route.description }}</p>
{% endfor %}
{% endblock %}