{% extends 'proj/base.html.twig' %}

{% block title %}Black Jack{% endblock %}

{% block body %}

<h1>Welcome to the Black Jack Game!</h1>
<a href="{{ path('blackjack_home') }}" class="button">Start Playing</a>
<div class="row">
    <div>
        <h2>Players</h2>
        <div class="saved-players">
            {% for player in players %}
            <div>
                <small>ID: {{ player.playerId }}</small>
                <p>{{ player.name }}</p>
                <p>Wins: {{ player.wins }}</p>
                <p>Losses: {{ player.losses }}</p>
                <form action="{{ path('black_jack_delete_player', {'playerid': player.playerId}) }}" method="post"
                    style="display: inline;">
                    <button type="submit" class="button red-button">Delete</button>
                </form>
            </div>
            {% endfor %}
        </div>
        <a href="{{ path('black_jack_create_player_form') }}" class="button">Create player</a>
    </div>

    <div>
        <h2>Game History</h2>
        {% if gameHistory is not empty %}
        <table class="proj-table">
            <thead>
                <tr>
                    <th>Game Date</th>
                    <th>Dealer</th>
                    <th>Players</th>
                </tr>
            </thead>
            <tbody>
                {% for game in gameHistory %}
                <tr>
                    <td>{{ game.getGameDate|date('Y-m-d') }}</td>
                    <td>{{ game.getBankScore }}</td>
                    <td>
                        <ul>
                            {% for player in game.getPlayerDataJson %}
                            <li>{{ player.name }} - Score: {{ player.score }} - Result: {{ player.result }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>

{% endblock %}