{% extends 'proj/base.html.twig' %}

{% block title %}Black Jack{% endblock %}

{% block body %}
<div class="black-jack">
    <div class="black-jack-bank-cards">
        <h2>Dealer</h2>
        <div class="game-points">Card score: {{ game.getBankScore() }}</div>
        <div class="hand">
            {% for card in game.getBankHand().getRenderedHand() %}
            {{ card|raw }}
            {% endfor %}
        </div>
    </div>
    <div class="game-status">{{ game.getStatus() }}</div>
    {% if game.getStatus() == 'complete' %}
    <div class="game-controls">
        <a href="{{ path('blackjack_home') }}" class="button green-button">Start New Game</a>
    </div>
    {% endif %}

    <div class="all-players">
        {% for playerIndex, player in game.getPlayers() %}
        <div class="black-jack-player {% if game.getCurrentPlayer() == loop.index0 %}current-player{% endif %}">
            <h2>Player {{ player.getName() }}</h2>

            {% for handIndex, hand in player.getHands() %}
            <div class="black-jack-player-hand 
                {% if game.getCurrentPlayer() == loop.parent.loop.index0 and game.getCurrentHand() == handIndex %}current-hand{% endif %}
                {{ player.getResult(handIndex) }}">
                <h3>Hand {{ handIndex + 1 }} {{ player.getResult(handIndex) }}</h3>

                <div class="game-points">Card score: {{ game.getPlayerHandScore(playerIndex, handIndex) }}</div>
                <div class="hand">
                    {% for card in hand.getRenderedHand() %}
                    {{ card|raw }}
                    {% endfor %}
                </div>

                {% if game.getCurrentPlayer() == loop.parent.loop.index0 and game.currentHand == handIndex %}
                <div class="black-jack-player-actions">
                    <a href="{{ path('blackjack_hit')}}" class="button blue-button">Hit</a>
                    <a href="{{ path('blackjack_stand')}}" class="button">Stand</a>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}