{% extends 'proj/base.html.twig' %}

{% block title %}Black Jack{% endblock %}

{% block body %}
<h1>Black Jack</h1>
<h2>Select players for the game below:</h2>
<form action="{{ path('blackjack_start') }}" method="post" class="form">
    <div class="saved-players">
        {% for player in players %}
        <label for="player-{{ player.playerId }}">
            <div class="player-select">
                <p> <input type="checkbox" id="player-{{ player.playerId }}" name="selectedPlayers[]"
                    value="{{ player.playerId }}">{{ player.name }}</p>

                <div>
                    <label for="hands-{{ player.playerId }}">Number of hands (5 max):</label>
                    <input type="number" name="hands[{{ player.playerId }}]" id="hands-{{ player.playerId }}" min="1"
                        max="5" value="1" required>
                </div>
            </div>
        </label>
        {% endfor %}
    </div>
    <button type="submit" class="button full-width-button green-button">Start Game</button>
</form>
{% endblock %}