{% extends 'proj/base.html.twig' %}

{% block title %}Black Jack{% endblock %}

{% block body %}
<h1>Black Jack</h1>
<h2>Select players for the game below:</h2>
<form action="{{ path('blackjack_start') }}" method="post" class="form">
    <div class="saved-players">
        {% for player in players %}
        <div>
            <p>{{ player.name }}</p>
            <p>ID: {{ player.playerId }}</p>
            <p>Wins: {{ player.wins }}</p>
            <p>Losses: {{ player.losses }}</p>
            <label>
                <input type="checkbox" name="selectedPlayers[]" value="{{ player.playerId }}">
                Select {{ player.name }}
            </label>
            
            <div>
                <label for="hands-{{ player.playerId }}">Number of hands (1-3):</label>
                <input type="number" name="hands[{{ player.playerId }}]" id="hands-{{ player.playerId }}" min="1" max="3" value="1" required>
            </div>
        </div>
        {% endfor %}
    </div>
    <button type="submit" class="button full-width-button green-button">Start Game</button>
</form>
{% endblock %}
